:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}

.panel__left {
  width: 80px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 50px;


  &__btn__container {
    padding: 0px 10px;

    button {
      margin: 5px 0px;
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;


      &:hover {
        filter: brightness(1.2);
        transform: scale(1.2);
      }

      &:active {
        opacity: 0.7;
      }
    }
  }


  .panel__left__element__container {
    background-color: red;
    transform: translateX(80px);
    position: absolute;
    top: 0;


  }
}


.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

.panel__switcher,
.panel__devices {
  position: initial;
}